<footer style="padding: 30px 0px;">
    <p>
        <a href=<%= BLOG_URL %> target="_blank"
            style="text-decoration: none;">
            <span style="color: #ffffff;">
                <strong><%= BLOG_TITLE %></strong>
                <p><%= BLOG_BARE_URL %></p>
            </span>
        </a>
    </p>
</footer>